[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "dependencies/forge-zksync-std"]
	path = dependencies/forge-zksync-std
	url = https://github.com/Moonsong-Labs/forge-zksync-std
